In [ ]:
#importing all the packages
import numpy as np 
import pandas as pd 
import seaborn as sbn 
import matplotlib.pyplot as plt

In [ ]:
pre_df = pd.read_csv("m1.csv")
pre_df.sample(10)
pre_df.columns
import pandas as pd

pd.set_option("display.max_columns", None)

In [ ]:
pre_df.info()

In [ ]:
pre_df.isna().sum()

In [ ]:
pre_df.nunique()

In [ ]:
pre_df.describe()

In [ ]:
pre_df["id"].sample(20)

Changed the id coln to float

In [ ]:
# pre_df["id"].apply(lambda x: int(x) if isinstance(x,str) and x.isnumeric() else None )
pre_df["id"] = pd.to_numeric(pre_df["id"], errors="coerce")

pre_df.info()

In [ ]:
pre_df["deviceId"] = pd.to_numeric(pre_df["deviceId"], errors="coerce")
pre_df["distance"] = pd.to_numeric(pre_df["distance"], errors="coerce")
pre_df["totalDistance"] = pd.to_numeric(pre_df["totalDistance"], errors="coerce")

pre_df.info()

In [ ]:
pre_df.sample(20)

In [ ]:
pre_df.nunique()

In [ ]:
cols = [
    "alarm", "ignition", "status", "motion", "deviceId",
    "type", "protocol", "outdated", "valid", "altitude",
    "address", "accuracy", "network"
]

for col in cols:
    print(f"\n{col} has these unique values:{pre_df[col].nunique()}")
    print(pre_df[col].unique())

In [ ]:
pre_df["ignition"] = pre_df["ignition"].apply(lambda x: False if x == "FALSE" else x)
pre_df["ignition"].unique()

In [ ]:
pre_df["status"] = pre_df["status"].apply(lambda x : int(x) if isinstance(x , str) and x.isnumeric() else x)

In [ ]:
pre_df["status"].unique()

Converts:

True, "TRUE" → True

False, "FALSE" → False

column-name junk → NaN

In [ ]:
bool_cols = ["ignition", "motion", "outdated", "valid"]

for col in bool_cols:
    pre_df[col] = (
        pre_df[col]
        .astype(str)
        .str.lower()
        .map({"true": True, "false": False})
    )

✔ Converts:

"4294949887" → 4294949887

"140" → 140

"status", "accuracy" → NaN

In [ ]:
num_cols = ["status", "deviceId", "altitude", "accuracy"]

for col in num_cols:
    pre_df[col] = pd.to_numeric(pre_df[col], errors="coerce")


✔ Removes values like:

"alarm" from alarm

"protocol" from protocol

In [ ]:
str_cols = ["alarm", "type", "protocol", "address", "network"]

for col in str_cols:
    pre_df[col] = pre_df[col].replace(col, pd.NA)

In [ ]:
# pre_df["status"] = pd.to_numeric(pre_df["status"] , errors="coerce")
# pre_df["io1"] = pd.to_numeric(pre_df["io1"] , errors="coerce")
# pre_df["io2"] = pd.to_numeric(pre_df["io2"] , errors="coerce")
# pre_df["io3"] = pd.to_numeric(pre_df["io3"] , errors="coerce")
# pre_df["io4"] = pd.to_numeric(pre_df["io4"] , errors="coerce")

In [ ]:
for col in cols:
    print(f"\n{col} has these unique values:{pre_df[col].nunique()}")
    print(pre_df[col].unique())

In [ ]:
for col in cols:
    var_num = pre_df[col].nunique()
    
    if var_num <=1:
        pre_df.drop(col , axis = 1 , inplace = True)

1
1
4
2
41
0
1
1
2
1
0
1
0

In [75]:
pre_df.sample(20)

,id,status,io1,io2,io3,io4,distance,totalDistance,motion,deviceId,serverTime,deviceTime,fixTime,valid,latitude,longitude,speed,course
74336,65966531.0,4.294950e+09,429,2,104,38032,2.59,16539623.60,True,132.0,2020-02-24T13:45:53.950+0000,2020-02-24T13:46:04.000+0000,2020-02-24T13:46:04.000+0000,True,27.721045,85.294805,0.02,0
108408,441681.0,4.294950e+09,429,2,116,303,19.67,11541.04,True,133.0,2019-08-22T03:54:45.000+0000,2019-08-22T03:54:49.000+0000,2019-08-22T03:54:49.000+0000,True,27.68445,85.334278,1.71,0
1696,0.0,4.227317e+09,429,2,104,38032,0.00,28097265.21,True,142.0,2020-02-23T13:42:37.581+0000,2020-02-23T13:42:47.000+0000,2020-02-23T13:42:47.000+0000,False,27.701347,85.353085,0.05,0
92802,66160269.0,4.294950e+09,429,2,113,21961,99.94,17213062.17,True,146.0,2020-02-25T05:29:12.259+0000,2020-02-25T05:29:23.000+0000,2020-02-25T05:29:23.000+0000,True,27.731917,85.344148,0.85,0
187911,66627505.0,4.294950e+09,429,2,104,38032,7.71,33499277.13,True,200.0,2020-02-26T11:42:18.248+0000,2020-02-26T11:42:31.000+0000,2020-02-26T11:42:31.000+0000,True,27.721172,85.294778,0.05,0
61837,65958947.0,4.294950e+09,429,2,104,38032,7.39,31577219.40,True,137.0,2020-02-24T13:22:00.147+0000,2020-02-24T13:22:11.000+0000,2020-02-24T13:22:11.000+0000,True,27.721048,85.294803,0.06,0
89659,66133790.0,4.294950e+09,429,2,117,30022,3.07,8125231.96,True,160.0,2020-02-25T04:10:29.829+0000,2020-02-25T04:10:41.000+0000,2020-02-25T04:10:41.000+0000,True,27.658802,85.325062,1.56,0
85042,66095942.0,4.294950e+09,429,2,104,30882,14.13,33392930.67,True,200.0,2020-02-25T02:16:13.059+0000,2020-02-25T02:16:24.000+0000,2020-02-25T02:16:24.000+0000,True,27.720745,85.295012,2.42,0
248696,67387896.0,4.294950e+09,429,2,118,29732,58.43,18845435.11,True,161.0,2020-02-28T13:42:50.929+0000,2020-02-28T13:42:50.000+0000,2020-02-28T13:42:50.000+0000,True,27.707275,85.28261,0.05,0
233445,67264014.0,4.294950e+09,429,2,104,30882,3.45,12509797.36,True,162.0,2020-02-28T07:24:00.572+0000,2020-02-28T07:23:59.000+0000,2020-02-28T07:23:59.000+0000,True,27.72113,85.294852,0.03,0
229965,67235892.0,4.294950e+09,429,2,104,38032,41.49,26892707.65,True,169.0,2020-02-28T05:57:37.210+0000,2020-02-28T05:57:36.000+0000,2020-02-28T05:57:36.000+0000,True,27.720995,85.29477,0.67,0
124020,66321392.0,4.294426e+09,429,2,104,38032,1.15,8413274.06,True,164.0,2020-02-25T13:43:31.168+0000,2020-02-25T13:43:43.000+0000,2020-02-25T13:43:43.000+0000,True,27.720773,85.295067,0.08,0
114134,66307988.0,4.294950e+09,429,2,104,30882,5.00,28457974.74,True,158.0,2020-02-25T12:58:10.610+0000,2020-02-25T12:58:22.000+0000,2020-02-25T12:58:22.000+0000,True,27.721045,85.294798,0.08,0
149444,66496783.0,4.294950e+09,429,2,104,33311,164.40,26620752.01,True,169.0,2020-02-26T05:04:32.841+0000,2020-02-26T05:04:45.000+0000,2020-02-26T05:04:45.000+0000,True,27.7297,85.30532,10.89,3
236611,67290037.0,4.294950e+09,429,2,113,21961,89.82,16993247.19,True,132.0,2020-02-28T08:43:37.754+0000,2020-02-28T08:43:35.000+0000,2020-02-28T08:43:35.000+0000,True,27.73207,85.344058,0.09,0
134104,0.0,4.227317e+09,429,2,104,38032,5119.22,18357920.53,True,161.0,2020-02-25T15:30:39.085+0000,2020-02-25T15:30:51.000+0000,2020-02-25T15:30:51.000+0000,False,27.71779,85.346705,0.11,0
150854,66508664.0,4.294950e+09,429,2,117,2803,1.98,28479331.80,True,142.0,2020-02-26T05:40:46.361+0000,2020-02-26T05:40:58.000+0000,2020-02-26T05:40:58.000+0000,True,27.666807,85.33244,0.02,0
211073,66882794.0,4.294950e+09,429,2,110,30193,47.33,18012085.12,True,134.0,2020-02-27T06:37:22.691+0000,2020-02-27T06:37:36.000+0000,2020-02-27T06:37:36.000+0000,True,27.680185,85.34942667,1.47,0
25160,65716534.0,4.294950e+09,429,2,113,21961,126.86,19663938.04,True,154.0,2020-02-24T01:28:09.254+0000,2020-02-24T01:28:19.000+0000,2020-02-24T01:28:19.000+0000,True,27.734927,85.3423,7.3,327
225551,67199855.0,4.294950e+09,429,2,116,41275,104.20,17049738.92,True,140.0,2020-02-28T04:08:57.440+0000,2020-02-28T04:08:10.000+0000,2020-02-28T04:08:10.000+0000,True,27.70109,85.35332,2.8,323

## Dimension reduction

In [ ]:
df = pd.read_csv("combined_mahanagar_data.csv")

In [ ]:
df.sample(20)